@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif
}

html {
    scroll-behavior: smooth;
}
  
body {
    position: relative;
    background-color: #e6e6ff;
}

.container-fluid, .row {
    margin: 0;
    padding: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 20vw;
    position: fixed;
    background-image: linear-gradient(0deg, #742ea7, #9544ff);
    opacity: 1;
    transition: 0.3s ease;
}

#sidebar.collapsed {
    width: 0;
    height: 0;
    opacity: 0;
}

#sidebarCollapse {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #742ea7;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

#sidebarCollapse:hover {
    background-color: #9544ff;
}

#sidebar img.main-logo {
    margin: 1rem;
    width: 80%;
}

#sidebar hr {
    color: #ffffff;
    margin: 0.5rem;
}

#sidebar ul li a {
    color: #ffffff;
    padding: 1rem 1rem;
}

main {
    margin: 0 0 0 20vw;
    padding: 0 0 0 0 !important;
    width: 80vw;
    transition: margin-left 0.3s ease;
}

#sidebar.collapsed + main {
    margin-left: 0 !important;
    width: 100vw !important;
}

main section.greeting {
    display: flex;
    padding-left: 3rem;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main section.utama {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
}



.option {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid #1b1b1d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 1rem;
    padding: 2rem 0;
}

.option.saldo {
    width: 80% !important;
}

.option.pemasukan {
    max-width: 45%;
}
.option.pengeluaran {
    max-width: 45%;
}


h1 {
    color: #1b1b1d;
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    color: #1b1b1d;
    font-size: 1.5rem;
    font-weight: bold;
}

.styled-table {
    border-collapse: collapse;
    margin-top: 1rem 0;
    border-bottom: rgb(101, 3, 106) 5px solid;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    max-height: 60vh;
    overflow-y:auto;
    display:block;
    height: auto;
}
.styled-table thead th{
    position: sticky;
    top: 0px;
    background-color: #8e00e1;
}
.styled-table thead tr {
    color: #ffffff;
    text-align: left;
}
.styled-table th,td{
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    main section.utama {
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 2;
    }

    #sidebar.collapsed {
        width: 0;
        height: 0;
        opacity: 0;
    }

    #sidebarCollapse {
        position: fixed;
        left: 20px;
        bottom: 20px;
        background-color: #742ea7;
        z-index: 3;
    }

    main {
        margin: 0 !important;
        width: 100%;
        position: fixed;
        top: 0;
    }

    main section.greeting {
        padding-left: 1rem;
    }

    main section.utama {
        padding: 1rem;
    }


    #sidebar.collapsed + main {
        margin-left: 0;
    }
    
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 1 1 1px rgb(141, 1, 169);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(116, 1, 187);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e375ff;
  }